{% extends 'SNS/auth.html' %}

{% block authContent %}
  {% if posts|length > 0 %}
    {% for post in posts %}
      {% if post.reposter %}
        <p>
          Your follower(s) who reposted this post:
          {% for reposter in post.reposter %}
            <a href="{% url 'user_post' pk=reposter.user.pk %}">
              {{reposter}}
            </a>
          {% endfor %}
        </p>
      {% endif %}
      {% include "SNS/post_part.html" with post=post %}
      <hr>
    {% endfor %}
  {% else %}
    <p>
      Here will be displayed your timeline.
      <a href="{% url 'post_create' %}">Post</a> something or
      <a href="{% url 'user_list' %}">search</a>
       for your friends to make this space fancier.
    </p>
  {% endif %}
{% endblock %}
