<div class="post">
    {% if post.replyTo %}
      <p>
        Replies to
        <a href="{% url 'post_detail' pk=post.replyTo.pk %}">this</a>
         post
      </p>
    {% endif %}

    <p>author:
      <a href="{% url 'user_post' pk=post.author.pk %}">
        {{ post.author }}
      </a>
    </p>
    <p><small>published: {{ post.pub_date }}</small></p>
    <p>text:
      <a href="{% url 'post_detail' pk=post.pk %}">
        {{ post.text }}
      </a>
    </p>
    {% if post in postsLiked %}
      <a class="btn btn-default" href="{% url 'remove_like' pk=post.pk %}">remove Like</a>
    {% else %}
      <a class="btn btn-default" href="{% url 'add_like' pk=post.pk %}">Like</a>
    {% endif %}

    {% if post in postsReposted %}
      <a class="btn btn-default" href="{% url 'remove_repost' pk=post.pk %}">remove Repost</a>
    {% else %}
      <a class="btn btn-default" href="{% url 'add_repost' pk=post.pk %}">Repost</a>
    {% endif %}

    <a class="btn btn-default" href="{% url 'reply_create' pk=post.pk %}">reply</a>

    {% block stats %}{% endblock %}
</div>
